@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-4 mb-5">CATS!</h1>
    <h2 class="mb-3">Lorum Ipsusumus</h2>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Urna porttitor rhoncus dolor purus non enim. Semper risus in hendrerit gravida rutrum quisque. Fringilla ut morbi tincidunt augue.
        Facilisis sed odio morbi quis commodo odio aenean sed. Est placerat in egestas erat. Lacus sed turpis tincidunt id aliquet.
        Accumsan tortor posuere ac ut consequat semper. Malesuada pellentesque elit eget gravida cum sociis natoque penatibus et.
        In mollis nunc sed id semper risus. Mi ipsum faucibus vitae aliquet nec. Nunc id cursus metus aliquam. Accumsan in nisl nisi scelerisque.
        Risus nullam eget felis eget nunc. Sit amet dictum sit amet justo donec enim diam vulputate. Lorem donec massa sapien faucibus et molestie.
        Morbi enim nunc faucibus a pellentesque sit amet porttitor eget. Egestas sed tempus urna et pharetra pharetra massa massa ultricies.
        Euismod quis viverra nibh cras pulvinar mattis nunc sed blandit.</p>
        <aside>
        <h3 class="mt-1">Fun facts about cats</h3>
        <p>Lipsum pipsum pirum parum! Lorem donec massa sapien faucibus et molestie.
        Morbi enim nunc faucibus a pellentesque sit amet porttitor eget. Egestas sed tempus urna et pharetra pharetra massa massa ultricies.
        Euismod quis viverra nibh cras pulvinar mattis nunc sed blandit

        </p>
        </aside>
         <p>Venenatis urna cursus eget nunc. Nunc sed augue lacus viverra vitae congue eu consequat ac.
        Bibendum arcu vitae elementum curabitur. Orci phasellus egestas tellus rutrum tellus pellentesque.
        Enim nulla aliquet porttitor lacus luctus accumsan. Imperdiet massa tincidunt nunc pulvinar. 
        Tincidunt augue interdum velit euismod in. Nunc congue nisi vitae suscipit tellus mauris a. 
        Eget magna fermentum iaculis eu. Non pulvinar neque laoreet suspendisse. Volutpat sed cras ornare arcu. 
        Risus feugiat in ante metus dictum at. Ante metus dictum at tempor commodo. Pretium fusce id velit ut tortor pretium. 
        Amet porttitor eget dolor morbi non arcu risus quis. Sagittis vitae et leo duis ut diam quam nulla porttitor. 
        Enim ut sem viverra aliquet eget sit amet. Dui faucibus in ornare quam viverra. Quis hendrerit dolor magna eget est. 
        Non consectetur a erat nam at.
        </p>
    </div>
    

</div>
